a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_5cf6ebe2 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_5cf6ebe2:hover { border-color:#000000;  }
#button_5cf6ebe2:hover span { color:#FFFFFF; }
#button_1f964c08 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_1f964c08:hover { border-color:#000000;  }
#button_1f964c08:hover span { color:#FFFFFF; }
#button_5cca842f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_5cca842f:hover { border-color:#000000;  }
#button_5cca842f:hover span { color:#FFFFFF; }
#button_7b4f0345 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_7b4f0345:hover { border-color:#000000;  }
#button_7b4f0345:hover span { color:#FFFFFF; }
#button_7b7b16f5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:346px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_7b7b16f5:hover { background-color:#EE4646; border-color:#000000;  }
#button_7b7b16f5:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_1aa948d0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:188px; background-color:#000000;  }
#container_1aa948d0_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_6469f983 { vertical-align: bottom; position:relative; display: inline-block; width:41%; background:none; height:auto;  }
.textstyle3 { text-align:right; }
#container_1d79f3fe { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:54px; background:none;  }
#container_1d79f3fe_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_4ca9cf86 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1726px; background-color:#2D2D2D; border: 1px dotted #404040;  }
#container_4ca9cf86_padding { margin: 10px; display: block;  }
#container_604b1853 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_604b1853_padding { margin: 10px; display: block;  }
#container_210ab810 { vertical-align: top; position:relative; display: inline-block; width:21%; min-height:150px; background-color:#FFFFFF; background-image: url(../rc_images/detective_18.jpg); background-position:center center; background-size:cover;  }
#container_210ab810_padding { margin: 10px; display: block;  }
#container_4b1bf31 { vertical-align: top; position:relative; display: inline-block; width:79%; min-height:150px; background:none;  }
#container_4b1bf31_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle6 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FEFFFE; font-weight:bold;  }
#container_2c9c4b06 { vertical-align: top; position:relative; display: inline-block; width:56%; min-height:52px; background:none;  }
#container_2c9c4b06_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FEFFFE; font-weight:bold;  }
#html_4db29f9c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:55%; height:144px; background:none; border: 0px solid #A0A0A0;  }
#container_4da758d0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:246px; background-color:#2A3245;  }
#container_4da758d0_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 640px)
{
		#button_5cf6ebe2 { width:40px; height:28px;  }
		#button_5cf6ebe2 * span { font-size:8pt;  }
		#button_1f964c08 { width:40px; height:28px;  }
		#button_1f964c08 * span { font-size:8pt;  }
		#button_5cca842f { width:40px; height:28px;  }
		#button_5cca842f * span { font-size:8pt;  }
		#button_7b4f0345 { width:40px; height:28px;  }
		#button_7b4f0345 * span { font-size:8pt;  }
		#button_7b7b16f5 * span { font-size:8pt;  }
		#button_7b7b16f5 { width:100px; height:30px;  }
		#html_4db29f9c { width:50%; height:100px;  }
		#container_4da758d0 * span { font-size:8pt;  }
}
@media only screen and (max-width: 400px)
{
		#container_1aa948d0 { width:100%; height:100px; min-height:100px;  }
		#container_210ab810 { width:100%;  }
		#container_4b1bf31 { width:100%;  }
		#container_4b1bf31 * span { font-size:8pt;  }
}
