a { color:#FFFFFF; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_706ceaa0 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_706ceaa0:hover { border-color:#000000;  }
#button_706ceaa0:hover span { color:#FFFFFF; }
#button_7ce753d7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_7ce753d7:hover { border-color:#000000;  }
#button_7ce753d7:hover span { color:#FFFFFF; }
#button_58bf6871 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_58bf6871:hover { border-color:#000000;  }
#button_58bf6871:hover span { color:#FFFFFF; }
#button_7406974b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_7406974b:hover { border-color:#000000;  }
#button_7406974b:hover span { color:#FFFFFF; }
#img_1b60926e:hover { filter: brightness( 80%);  } 
#img_51722372:hover { filter: brightness( 80%);  } 
#img_1bb37b3f:hover { filter: brightness( 80%);  } 
#img_549c9857:hover { filter: brightness( 80%);  } 
#img_32754fc4:hover { filter: brightness( 80%);  } 
#img_7f0e379e:hover { filter: brightness( 80%);  } 
#img_d041626:hover { filter: brightness( 80%);  } 
#img_664bc95:hover { filter: brightness( 80%);  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_1d50c3fa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:188px; background-color:#000000;  }
#container_1d50c3fa_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_4a127e77 { vertical-align: bottom; position:relative; display: inline-block; width:41%; background:none; height:auto;  }
.textstyle3 { text-align:right; }
#container_4077388 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:54px; background:none;  }
#container_4077388_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_6d1c74c3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:83px; background-color:#2D2D2D;  }
#container_6d1c74c3_padding { margin: 10px; display: block;  }
#html_fb36e63 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:100px; background:none; border: 0px solid #A0A0A0;  }
#container_4a8d779a { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1070px; background-color:#2D2D2D; border: 1px dotted #404040;  }
#container_4a8d779a_padding { margin: 10px; display: block;  }
#container_70954eb3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_70954eb3_padding { margin: 10px; display: block;  }
#text_238e9b4d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3c5a0eff { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:154px; background:none;  }
#container_3c5a0eff_padding { margin: 10px; display: block;  }
#img_1b60926e { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_4c4e3cd4 { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:41px; background:none;  }
#container_4c4e3cd4_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FEFFFE;  }
#container_1c2139c1 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:154px; background:none;  }
#container_1c2139c1_padding { margin: 10px; display: block;  }
#img_51722372 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_1c12267e { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:41px; background:none;  }
#container_1c12267e_padding { margin: 10px; display: block;  }
#container_36175d75 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_36175d75_padding { margin: 10px; display: block;  }
#html_7a349e57 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:58px; background:none; border: 0px solid #A0A0A0;  }
#container_5bd5fedf { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:154px; background:none;  }
#container_5bd5fedf_padding { margin: 10px; display: block;  }
#img_1bb37b3f { vertical-align: bottom; position:relative; display: inline-block; width:104%; background:none; height:auto;  }
#container_65d5d820 { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:41px; background:none;  }
#container_65d5d820_padding { margin: 10px; display: block;  }
#container_160b0cec { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:154px; background:none;  }
#container_160b0cec_padding { margin: 10px; display: block;  }
#img_549c9857 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_4266372d { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:41px; background:none;  }
#container_4266372d_padding { margin: 10px; display: block;  }
#container_4a6c0c45 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_4a6c0c45_padding { margin: 10px; display: block;  }
#html_1ee82bd7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:58px; background:none; border: 0px solid #A0A0A0;  }
#container_94f4ad3 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:272px; background:none;  }
#container_94f4ad3_padding { margin: 10px; display: block;  }
.textstyle6 { text-align:justify; }
#container_4d3010c9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_4d3010c9_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#container_4c7cc58a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#container_4c7cc58a_padding { margin: 10px; display: block;  }
#container_2cec44a1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#container_2cec44a1_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_584e5d40 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#container_584e5d40_padding { margin: 10px; display: block;  }
#container_103b5c73 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#container_103b5c73_padding { margin: 10px; display: block;  }
#container_2823f0b8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#container_2823f0b8_padding { margin: 10px; display: block;  }
#container_172f3626 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_172f3626_padding { margin: 10px; display: block;  }
#text_3c8710b2 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5ad5420e { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:154px; background:none;  }
#container_5ad5420e_padding { margin: 10px; display: block;  }
#img_32754fc4 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_48458a { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:41px; background:none;  }
#container_48458a_padding { margin: 10px; display: block;  }
#container_67f07d53 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:154px; background:none;  }
#container_67f07d53_padding { margin: 10px; display: block;  }
#img_7f0e379e { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_fb7d91b { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:41px; background:none;  }
#container_fb7d91b_padding { margin: 10px; display: block;  }
#container_7834793e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_7834793e_padding { margin: 10px; display: block;  }
#html_75690335 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:58px; background:none; border: 0px solid #A0A0A0;  }
#container_5685cde5 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:154px; background:none;  }
#container_5685cde5_padding { margin: 10px; display: block;  }
#img_d041626 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_53e906ef { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:41px; background:none;  }
#container_53e906ef_padding { margin: 10px; display: block;  }
#container_6f37ed78 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:154px; background:none;  }
#container_6f37ed78_padding { margin: 10px; display: block;  }
#img_664bc95 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_6e8f5ca4 { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:41px; background:none;  }
#container_6e8f5ca4_padding { margin: 10px; display: block;  }
#container_2150fa7f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:83px; background-color:#2D2D2D;  }
#container_2150fa7f_padding { margin: 10px; display: block;  }
#html_3bf16073 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:100px; background:none; border: 0px solid #A0A0A0;  }
#container_d7bd5bd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:93px; background-color:#2A3245;  }
#container_d7bd5bd_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
@media only screen and (max-width: 8000px)
{
		#container_36175d75 { display:none;  }
		#html_7a349e57 { display:none;  }
		#container_4a6c0c45 { display:none;  }
		#html_1ee82bd7 { display:none;  }
		#container_7834793e { display:none;  }
		#html_75690335 { display:none;  }
}
@media only screen and (max-width: 640px)
{
		#button_706ceaa0 { width:40px; height:28px;  }
		#button_706ceaa0 * span { font-size:8pt;  }
		#button_7ce753d7 { width:40px; height:28px;  }
		#button_7ce753d7 * span { font-size:8pt;  }
		#button_58bf6871 { width:40px; height:28px;  }
		#button_58bf6871 * span { font-size:8pt;  }
		#button_7406974b { width:40px; height:28px;  }
		#button_7406974b * span { font-size:8pt;  }
		#container_6d1c74c3 { display:none;  }
		#html_fb36e63 { display:none;  }
		#container_3c5a0eff { width:50%;  }
		#img_1b60926e { width:100%;  }
		#container_4c4e3cd4 { width:100%;  }
		#container_4c4e3cd4 * span { font-size:8pt;  }
		#container_1c2139c1 { width:50%;  }
		#img_51722372 { width:100%;  }
		#container_1c12267e { width:100%;  }
		#container_1c12267e * span { font-size:8pt;  }
		#container_36175d75 { display:inline-block;  }
		#html_7a349e57 { display:inline-block;  }
		#container_5bd5fedf { width:50%;  }
		#img_1bb37b3f { width:100%;  }
		#container_65d5d820 { width:100%;  }
		#container_65d5d820 * span { font-size:8pt;  }
		#container_160b0cec { width:50%;  }
		#img_549c9857 { width:100%;  }
		#container_4266372d { width:100%;  }
		#container_4266372d * span { font-size:8pt;  }
		#container_4a6c0c45 { display:inline-block;  }
		#html_1ee82bd7 { display:inline-block;  }
		#container_94f4ad3 { display:none;  }
		#container_5ad5420e { width:50%;  }
		#img_32754fc4 { width:100%;  }
		#container_48458a { width:100%;  }
		#container_48458a * span { font-size:8pt;  }
		#container_67f07d53 { width:50%;  }
		#img_7f0e379e { width:100%;  }
		#container_fb7d91b { width:100%;  }
		#container_fb7d91b * span { font-size:8pt;  }
		#container_7834793e { display:inline-block;  }
		#html_75690335 { display:inline-block;  }
		#container_5685cde5 { width:50%;  }
		#img_d041626 { width:100%;  }
		#container_53e906ef { width:100%;  }
		#container_53e906ef * span { font-size:8pt;  }
		#container_6f37ed78 { width:50%;  }
		#img_664bc95 { width:100%;  }
		#container_6e8f5ca4 { width:100%;  }
		#container_6e8f5ca4 * span { font-size:8pt;  }
		#html_3bf16073 { display:none;  }
		#container_d7bd5bd * span { font-size:8pt;  }
}
@media only screen and (max-width: 400px)
{
		#container_1d50c3fa { width:100%; height:100px; min-height:100px;  }
}
