a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#272727; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_1249fdfd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_1249fdfd_padding { margin: 10px; display: block;  }
#html_195e522a { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:58px; background:none; border: 0px solid #A0A0A0;  }
#container_74864810 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:83px; background-color:#2D2D2D;  }
#container_74864810_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#html_71034d5b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:100px; background:none; border: 0px solid #A0A0A0;  }
#html_11849690 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:99%; height:12px; background:none; border: 0px solid #A0A0A0;  }
#container_78eef2da { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:330px; background-color:#2A3245;  }
#container_78eef2da_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 8000px)
{
		#container_1249fdfd { display:none;  }
		#html_195e522a { display:none;  }
}
@media only screen and (max-width: 640px)
{
		#container_1249fdfd { display:inline-block;  }
		#html_195e522a { display:inline-block;  }
		#container_74864810 { display:none;  }
		#html_71034d5b { display:none;  }
		#container_78eef2da * span { font-size:8pt;  }
}
