a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_35072fe5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_35072fe5:hover { border-color:#000000;  }
#button_35072fe5:hover span { color:#FFFFFF; }
#button_57c4570b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_57c4570b:hover { border-color:#000000;  }
#button_57c4570b:hover span { color:#FFFFFF; }
#button_5f73c3c1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_5f73c3c1:hover { border-color:#000000;  }
#button_5f73c3c1:hover span { color:#FFFFFF; }
#button_689c9698 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_689c9698:hover { border-color:#000000;  }
#button_689c9698:hover span { color:#FFFFFF; }
#button_2a12e664 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_2a12e664:hover { background-color:#EE4646; border-color:#000000;  }
#button_2a12e664:hover span { color:#FFFFFF; }
#button_1e7eaca0 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_1e7eaca0:hover { background-color:#EE4646; border-color:#000000;  }
#button_1e7eaca0:hover span { color:#FFFFFF; }
#button_4be99fd { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_4be99fd:hover { background-color:#EE4646; border-color:#000000;  }
#button_4be99fd:hover span { color:#FFFFFF; }
#button_1a62a5f7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_1a62a5f7:hover { background-color:#EE4646; border-color:#000000;  }
#button_1a62a5f7:hover span { color:#FFFFFF; }
#button_5b294741 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_5b294741:hover { background-color:#EE4646; border-color:#000000;  }
#button_5b294741:hover span { color:#FFFFFF; }
#button_31efb169 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_31efb169:hover { background-color:#EE4646; border-color:#000000;  }
#button_31efb169:hover span { color:#FFFFFF; }
#button_7d814ca3 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_7d814ca3:hover { background-color:#EE4646; border-color:#000000;  }
#button_7d814ca3:hover span { color:#FFFFFF; }
#button_2d6091a { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_2d6091a:hover { background-color:#EE4646; border-color:#000000;  }
#button_2d6091a:hover span { color:#FFFFFF; }
#button_5834d472 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_5834d472:hover { background-color:#EE4646; border-color:#000000;  }
#button_5834d472:hover span { color:#FFFFFF; }
#button_75b2acaf { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_75b2acaf:hover { background-color:#EE4646; border-color:#000000;  }
#button_75b2acaf:hover span { color:#FFFFFF; }
#button_30582eb4 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_30582eb4:hover { background-color:#EE4646; border-color:#000000;  }
#button_30582eb4:hover span { color:#FFFFFF; }
#button_38ce2fa5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_38ce2fa5:hover { background-color:#EE4646; border-color:#000000;  }
#button_38ce2fa5:hover span { color:#FFFFFF; }
#button_7281f27e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_7281f27e:hover { background-color:#EE4646; border-color:#000000;  }
#button_7281f27e:hover span { color:#FFFFFF; }
#button_45550c7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_45550c7:hover { background-color:#EE4646; border-color:#000000;  }
#button_45550c7:hover span { color:#FFFFFF; }
#button_54d409df { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_54d409df:hover { background-color:#EE4646; border-color:#000000;  }
#button_54d409df:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_35ba7929 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:107px; background-color:#000000;  }
#container_35ba7929_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_4cc3ae0c { vertical-align: bottom; position:relative; display: inline-block; width:41%; background:none; height:auto;  }
.textstyle3 { text-align:right; }
#container_704a032b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:54px; background:none;  }
#container_704a032b_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_1c21f7bc { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1726px; background-color:#2D2D2D; border: 1px dotted #404040;  }
#container_1c21f7bc_padding { margin: 10px; display: block;  }
#container_476821a7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_476821a7_padding { margin: 10px; display: block;  }
#container_545b6478 { vertical-align: top; position:relative; display: inline-block; width:21%; min-height:150px; background-color:#FFFFFF; background-image: url(../rc_images/season_1.jpeg); background-position:top left; background-size:cover;  }
#container_545b6478_padding { margin: 10px; display: block;  }
#container_626f35e7 { vertical-align: top; position:relative; display: inline-block; width:79%; min-height:150px; background:none;  }
#container_626f35e7_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle6 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FEFFFE; font-weight:bold;  }
#container_78fae6aa { vertical-align: top; position:relative; display: inline-block; width:56%; min-height:165px; background:none;  }
#container_78fae6aa_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FEFFFE; font-weight:bold;  }
#html_3eb5e884 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:55%; height:144px; background:none; border: 0px solid #A0A0A0;  }
#container_5e4ff2c4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:246px; background-color:#2A3245;  }
#container_5e4ff2c4_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 640px)
{
		#button_35072fe5 { width:40px; height:28px;  }
		#button_35072fe5 * span { font-size:8pt;  }
		#button_57c4570b { width:40px; height:28px;  }
		#button_57c4570b * span { font-size:8pt;  }
		#button_5f73c3c1 { width:40px; height:28px;  }
		#button_5f73c3c1 * span { font-size:8pt;  }
		#button_689c9698 { width:40px; height:28px;  }
		#button_689c9698 * span { font-size:8pt;  }
		#button_2a12e664 * span { font-size:8pt;  }
		#button_2a12e664 { width:100px; height:30px;  }
		#button_1e7eaca0 * span { font-size:8pt;  }
		#button_1e7eaca0 { width:100px; height:30px;  }
		#button_4be99fd * span { font-size:8pt;  }
		#button_4be99fd { width:100px; height:30px;  }
		#button_1a62a5f7 * span { font-size:8pt;  }
		#button_1a62a5f7 { width:100px; height:30px;  }
		#button_5b294741 * span { font-size:8pt;  }
		#button_5b294741 { width:100px; height:30px;  }
		#button_31efb169 * span { font-size:8pt;  }
		#button_31efb169 { width:100px; height:30px;  }
		#button_7d814ca3 * span { font-size:8pt;  }
		#button_7d814ca3 { width:100px; height:30px;  }
		#button_2d6091a * span { font-size:8pt;  }
		#button_2d6091a { width:100px; height:30px;  }
		#button_5834d472 * span { font-size:8pt;  }
		#button_5834d472 { width:100px; height:30px;  }
		#button_75b2acaf * span { font-size:8pt;  }
		#button_75b2acaf { width:100px; height:30px;  }
		#button_30582eb4 * span { font-size:8pt;  }
		#button_30582eb4 { width:100px; height:30px;  }
		#button_38ce2fa5 * span { font-size:8pt;  }
		#button_38ce2fa5 { width:100px; height:30px;  }
		#button_7281f27e * span { font-size:8pt;  }
		#button_7281f27e { width:100px; height:30px;  }
		#button_45550c7 * span { font-size:8pt;  }
		#button_45550c7 { width:100px; height:30px;  }
		#button_54d409df * span { font-size:8pt;  }
		#button_54d409df { width:100px; height:30px;  }
		#html_3eb5e884 { width:50%; height:100px;  }
		#container_5e4ff2c4 * span { font-size:8pt;  }
}
@media only screen and (max-width: 400px)
{
		#container_545b6478 { width:100%;  }
		#container_626f35e7 { width:100%;  }
		#container_626f35e7 * span { font-size:8pt;  }
}
