a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_61d52a47 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_61d52a47:hover { border-color:#000000;  }
#button_61d52a47:hover span { color:#FFFFFF; }
#button_6e79728 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_6e79728:hover { border-color:#000000;  }
#button_6e79728:hover span { color:#FFFFFF; }
#button_193f8526 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_193f8526:hover { border-color:#000000;  }
#button_193f8526:hover span { color:#FFFFFF; }
#button_697477e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_697477e:hover { border-color:#000000;  }
#button_697477e:hover span { color:#FFFFFF; }
#button_27af681b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_27af681b:hover { background-color:#EE4646; border-color:#000000;  }
#button_27af681b:hover span { color:#FFFFFF; }
#button_162c04d3 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_162c04d3:hover { background-color:#EE4646; border-color:#000000;  }
#button_162c04d3:hover span { color:#FFFFFF; }
#button_576ee591 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_576ee591:hover { background-color:#EE4646; border-color:#000000;  }
#button_576ee591:hover span { color:#FFFFFF; }
#button_2070516c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_2070516c:hover { background-color:#EE4646; border-color:#000000;  }
#button_2070516c:hover span { color:#FFFFFF; }
#button_33042be1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_33042be1:hover { background-color:#EE4646; border-color:#000000;  }
#button_33042be1:hover span { color:#FFFFFF; }
#button_6c3a545d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_6c3a545d:hover { background-color:#EE4646; border-color:#000000;  }
#button_6c3a545d:hover span { color:#FFFFFF; }
#button_7dc472de { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_7dc472de:hover { background-color:#EE4646; border-color:#000000;  }
#button_7dc472de:hover span { color:#FFFFFF; }
#button_49837131 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_49837131:hover { background-color:#EE4646; border-color:#000000;  }
#button_49837131:hover span { color:#FFFFFF; }
#button_20c8ecd1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_20c8ecd1:hover { background-color:#EE4646; border-color:#000000;  }
#button_20c8ecd1:hover span { color:#FFFFFF; }
#button_fc3604d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_fc3604d:hover { background-color:#EE4646; border-color:#000000;  }
#button_fc3604d:hover span { color:#FFFFFF; }
#button_6b9fca98 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_6b9fca98:hover { background-color:#EE4646; border-color:#000000;  }
#button_6b9fca98:hover span { color:#FFFFFF; }
#button_50a19158 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_50a19158:hover { background-color:#EE4646; border-color:#000000;  }
#button_50a19158:hover span { color:#FFFFFF; }
#button_72029dd9 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_72029dd9:hover { background-color:#EE4646; border-color:#000000;  }
#button_72029dd9:hover span { color:#FFFFFF; }
#button_519bdd43 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_519bdd43:hover { background-color:#EE4646; border-color:#000000;  }
#button_519bdd43:hover span { color:#FFFFFF; }
#button_5def10f8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_5def10f8:hover { background-color:#EE4646; border-color:#000000;  }
#button_5def10f8:hover span { color:#FFFFFF; }
#button_5c000d31 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_5c000d31:hover { background-color:#EE4646; border-color:#000000;  }
#button_5c000d31:hover span { color:#FFFFFF; }
#button_5018d3fa { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_5018d3fa:hover { background-color:#EE4646; border-color:#000000;  }
#button_5018d3fa:hover span { color:#FFFFFF; }
#button_acc170b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_acc170b:hover { background-color:#EE4646; border-color:#000000;  }
#button_acc170b:hover span { color:#FFFFFF; }
#button_6502eff3 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_6502eff3:hover { background-color:#EE4646; border-color:#000000;  }
#button_6502eff3:hover span { color:#FFFFFF; }
#button_45900542 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_45900542:hover { background-color:#EE4646; border-color:#000000;  }
#button_45900542:hover span { color:#FFFFFF; }
#button_2921aad6 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_2921aad6:hover { background-color:#EE4646; border-color:#000000;  }
#button_2921aad6:hover span { color:#FFFFFF; }
#button_35d32b14 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_35d32b14:hover { background-color:#EE4646; border-color:#000000;  }
#button_35d32b14:hover span { color:#FFFFFF; }
#button_2fcaffb6 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_2fcaffb6:hover { background-color:#EE4646; border-color:#000000;  }
#button_2fcaffb6:hover span { color:#FFFFFF; }
#button_3db9542c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_3db9542c:hover { background-color:#EE4646; border-color:#000000;  }
#button_3db9542c:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_7918f615 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:107px; background-color:#000000;  }
#container_7918f615_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_543dc65d { vertical-align: bottom; position:relative; display: inline-block; width:41%; background:none; height:auto;  }
.textstyle3 { text-align:right; }
#container_6bb43660 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:54px; background:none;  }
#container_6bb43660_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_3e82dc7 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1357px; background-color:#2D2D2D; border: 1px dotted #404040;  }
#container_3e82dc7_padding { margin: 10px; display: block;  }
#container_5912bb6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5912bb6_padding { margin: 10px; display: block;  }
#container_675eb619 { vertical-align: top; position:relative; display: inline-block; width:21%; min-height:150px; background-color:#FFFFFF; background-image: url(../rc_images/wallpaperflare_com_wallpaper_1.jpg); background-position:center center; background-size:cover;  }
#container_675eb619_padding { margin: 10px; display: block;  }
#container_34e55b6c { vertical-align: top; position:relative; display: inline-block; width:79%; min-height:150px; background:none;  }
#container_34e55b6c_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle6 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FEFFFE; font-weight:bold;  }
#container_a2068e8 { vertical-align: top; position:relative; display: inline-block; width:56%; min-height:165px; background:none;  }
#container_a2068e8_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FEFFFE; font-weight:bold;  }
#html_135b8004 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:100px; background:none; border: 0px solid #A0A0A0;  }
#container_51ef729c { vertical-align: top; position:relative; display: inline-block; width:56%; min-height:165px; background:none;  }
#container_51ef729c_padding { margin: 10px; display: block;  }
#html_6e9906a7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:55%; height:144px; background:none; border: 0px solid #A0A0A0;  }
#container_3e91cf78 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:246px; background-color:#2A3245;  }
#container_3e91cf78_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 640px)
{
		#button_61d52a47 { width:40px; height:28px;  }
		#button_61d52a47 * span { font-size:8pt;  }
		#button_6e79728 { width:40px; height:28px;  }
		#button_6e79728 * span { font-size:8pt;  }
		#button_193f8526 { width:40px; height:28px;  }
		#button_193f8526 * span { font-size:8pt;  }
		#button_697477e { width:40px; height:28px;  }
		#button_697477e * span { font-size:8pt;  }
		#button_27af681b * span { font-size:8pt;  }
		#button_27af681b { width:100px; height:30px;  }
		#button_162c04d3 * span { font-size:8pt;  }
		#button_162c04d3 { width:100px; height:30px;  }
		#button_576ee591 * span { font-size:8pt;  }
		#button_576ee591 { width:100px; height:30px;  }
		#button_2070516c * span { font-size:8pt;  }
		#button_2070516c { width:100px; height:30px;  }
		#button_33042be1 * span { font-size:8pt;  }
		#button_33042be1 { width:100px; height:30px;  }
		#button_6c3a545d * span { font-size:8pt;  }
		#button_6c3a545d { width:100px; height:30px;  }
		#button_7dc472de * span { font-size:8pt;  }
		#button_7dc472de { width:100px; height:30px;  }
		#button_49837131 * span { font-size:8pt;  }
		#button_49837131 { width:100px; height:30px;  }
		#button_20c8ecd1 * span { font-size:8pt;  }
		#button_20c8ecd1 { width:100px; height:30px;  }
		#button_fc3604d * span { font-size:8pt;  }
		#button_fc3604d { width:100px; height:30px;  }
		#button_6b9fca98 * span { font-size:8pt;  }
		#button_6b9fca98 { width:100px; height:30px;  }
		#button_50a19158 * span { font-size:8pt;  }
		#button_50a19158 { width:100px; height:30px;  }
		#button_72029dd9 * span { font-size:8pt;  }
		#button_72029dd9 { width:100px; height:30px;  }
		#button_519bdd43 * span { font-size:8pt;  }
		#button_519bdd43 { width:100px; height:30px;  }
		#button_5def10f8 * span { font-size:8pt;  }
		#button_5def10f8 { width:100px; height:30px;  }
		#button_5c000d31 * span { font-size:8pt;  }
		#button_5c000d31 { width:100px; height:30px;  }
		#button_5018d3fa * span { font-size:8pt;  }
		#button_5018d3fa { width:100px; height:30px;  }
		#button_acc170b * span { font-size:8pt;  }
		#button_acc170b { width:100px; height:30px;  }
		#button_6502eff3 * span { font-size:8pt;  }
		#button_6502eff3 { width:100px; height:30px;  }
		#button_45900542 * span { font-size:8pt;  }
		#button_45900542 { width:100px; height:30px;  }
		#button_2921aad6 * span { font-size:8pt;  }
		#button_2921aad6 { width:100px; height:30px;  }
		#button_35d32b14 * span { font-size:8pt;  }
		#button_35d32b14 { width:100px; height:30px;  }
		#button_2fcaffb6 * span { font-size:8pt;  }
		#button_2fcaffb6 { width:100px; height:30px;  }
		#button_3db9542c * span { font-size:8pt;  }
		#button_3db9542c { width:100px; height:30px;  }
		#html_6e9906a7 { width:50%; height:100px;  }
		#container_3e91cf78 * span { font-size:8pt;  }
}
@media only screen and (max-width: 400px)
{
		#container_675eb619 { width:100%;  }
		#container_34e55b6c { width:100%;  }
		#container_34e55b6c * span { font-size:8pt;  }
}
