a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_9549f92 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_9549f92:hover { border-color:#000000;  }
#button_9549f92:hover span { color:#FFFFFF; }
#button_5c37fd73 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_5c37fd73:hover { border-color:#000000;  }
#button_5c37fd73:hover span { color:#FFFFFF; }
#button_68e4b288 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_68e4b288:hover { border-color:#000000;  }
#button_68e4b288:hover span { color:#FFFFFF; }
#button_5e3d4c0c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_5e3d4c0c:hover { border-color:#000000;  }
#button_5e3d4c0c:hover span { color:#FFFFFF; }
#button_ea101d0 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_ea101d0:hover { background-color:#EE4646; border-color:#000000;  }
#button_ea101d0:hover span { color:#FFFFFF; }
#button_33d03df { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_33d03df:hover { background-color:#EE4646; border-color:#000000;  }
#button_33d03df:hover span { color:#FFFFFF; }
#button_663a04ec { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_663a04ec:hover { background-color:#EE4646; border-color:#000000;  }
#button_663a04ec:hover span { color:#FFFFFF; }
#button_3252f050 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_3252f050:hover { background-color:#EE4646; border-color:#000000;  }
#button_3252f050:hover span { color:#FFFFFF; }
#button_2705216e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_2705216e:hover { background-color:#EE4646; border-color:#000000;  }
#button_2705216e:hover span { color:#FFFFFF; }
#button_556c9b2b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_556c9b2b:hover { background-color:#EE4646; border-color:#000000;  }
#button_556c9b2b:hover span { color:#FFFFFF; }
#button_2acae050 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_2acae050:hover { background-color:#EE4646; border-color:#000000;  }
#button_2acae050:hover span { color:#FFFFFF; }
#button_cc5df77 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_cc5df77:hover { background-color:#EE4646; border-color:#000000;  }
#button_cc5df77:hover span { color:#FFFFFF; }
#button_204587d8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_204587d8:hover { background-color:#EE4646; border-color:#000000;  }
#button_204587d8:hover span { color:#FFFFFF; }
#button_7972edd1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_7972edd1:hover { background-color:#EE4646; border-color:#000000;  }
#button_7972edd1:hover span { color:#FFFFFF; }
#button_799a412f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_799a412f:hover { background-color:#EE4646; border-color:#000000;  }
#button_799a412f:hover span { color:#FFFFFF; }
#button_26e0c1a0 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:110px; height:34px; background-color:#4B52A7; border: 2px solid #22264D;  }
#button_26e0c1a0:hover { background-color:#EE4646; border-color:#000000;  }
#button_26e0c1a0:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_eaea99e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:107px; background-color:#000000;  }
#container_eaea99e_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_4b3ae9fb { vertical-align: bottom; position:relative; display: inline-block; width:41%; background:none; height:auto;  }
.textstyle3 { text-align:right; }
#container_10eacb48 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:54px; background:none;  }
#container_10eacb48_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_3efbff56 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1357px; background-color:#2D2D2D; border: 1px dotted #404040;  }
#container_3efbff56_padding { margin: 10px; display: block;  }
#container_4738a292 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_4738a292_padding { margin: 10px; display: block;  }
#container_56a71511 { vertical-align: top; position:relative; display: inline-block; width:21%; min-height:150px; background-color:#FFFFFF; background-image: url(../rc_images/61u38z_bul_ac_uf894_1000_ql80_1.jpg); background-position:top left; background-size:cover;  }
#container_56a71511_padding { margin: 10px; display: block;  }
#container_4df6204e { vertical-align: top; position:relative; display: inline-block; width:79%; min-height:150px; background:none;  }
#container_4df6204e_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle6 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FEFFFE; font-weight:bold;  }
#container_20e5ca5 { vertical-align: top; position:relative; display: inline-block; width:56%; min-height:90px; background:none;  }
#container_20e5ca5_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FEFFFE; font-weight:bold;  }
#html_5b581fe8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:100px; background:none; border: 0px solid #A0A0A0;  }
#container_741ded1e { vertical-align: top; position:relative; display: inline-block; width:56%; min-height:94px; background:none;  }
#container_741ded1e_padding { margin: 10px; display: block;  }
#html_141b306b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:55%; height:144px; background:none; border: 0px solid #A0A0A0;  }
#container_15ea885b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:246px; background-color:#2A3245;  }
#container_15ea885b_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 640px)
{
		#button_9549f92 { width:40px; height:28px;  }
		#button_9549f92 * span { font-size:8pt;  }
		#button_5c37fd73 { width:40px; height:28px;  }
		#button_5c37fd73 * span { font-size:8pt;  }
		#button_68e4b288 { width:40px; height:28px;  }
		#button_68e4b288 * span { font-size:8pt;  }
		#button_5e3d4c0c { width:40px; height:28px;  }
		#button_5e3d4c0c * span { font-size:8pt;  }
		#button_ea101d0 * span { font-size:8pt;  }
		#button_ea101d0 { width:100px; height:30px;  }
		#button_33d03df * span { font-size:8pt;  }
		#button_33d03df { width:100px; height:30px;  }
		#button_663a04ec * span { font-size:8pt;  }
		#button_663a04ec { width:100px; height:30px;  }
		#button_3252f050 * span { font-size:8pt;  }
		#button_3252f050 { width:100px; height:30px;  }
		#button_2705216e * span { font-size:8pt;  }
		#button_2705216e { width:100px; height:30px;  }
		#button_556c9b2b * span { font-size:8pt;  }
		#button_556c9b2b { width:100px; height:30px;  }
		#button_2acae050 * span { font-size:8pt;  }
		#button_2acae050 { width:100px; height:30px;  }
		#button_cc5df77 * span { font-size:8pt;  }
		#button_cc5df77 { width:100px; height:30px;  }
		#button_204587d8 * span { font-size:8pt;  }
		#button_204587d8 { width:100px; height:30px;  }
		#button_7972edd1 * span { font-size:8pt;  }
		#button_7972edd1 { width:100px; height:30px;  }
		#button_799a412f * span { font-size:8pt;  }
		#button_799a412f { width:100px; height:30px;  }
		#button_26e0c1a0 * span { font-size:8pt;  }
		#button_26e0c1a0 { width:100px; height:30px;  }
		#html_141b306b { width:50%; height:100px;  }
		#container_15ea885b * span { font-size:8pt;  }
}
@media only screen and (max-width: 400px)
{
		#container_56a71511 { width:100%;  }
		#container_4df6204e { width:100%;  }
		#container_4df6204e * span { font-size:8pt;  }
}
