a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_38b3bd4a { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:312px; height:80px; background-color:#FFFFFF; border: 2px solid #595959;  }
#button_38b3bd4a:hover { background-color:#A9A9BC; border-color:#000000;  }
#button_38b3bd4a:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_45286c53 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1053px; background-color:#2D2D2D; border: 1px dotted #404040;  }
#container_45286c53_padding { margin: 10px; display: block;  }
#container_5db600f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:588px; background:none;  }
#container_5db600f5_padding { margin: 10px; display: block;  }
#container_26814feb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:266px; background-color:#000000; background-image: url(rc_images/new_project.png); background-position:center center; background-size:cover;  }
#container_26814feb_padding { margin: 10px; display: block;  }
#container_7dca7163 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:131px; background:none;  }
#container_7dca7163_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FEFFFE; font-weight:bold;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle5 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_4d10e638 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_4d10e638_padding { margin: 10px; display: block;  }
#html_628f127b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:58px; background:none; border: 0px solid #A0A0A0;  }
#container_5bd5f3a7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:83px; background-color:#2D2D2D;  }
#container_5bd5f3a7_padding { margin: 10px; display: block;  }
#html_14bc39df { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:100px; background:none; border: 0px solid #A0A0A0;  }
@media only screen and (max-width: 8000px)
{
		#container_4d10e638 { display:none;  }
		#html_628f127b { display:none;  }
}
@media only screen and (max-width: 640px)
{
		#container_5db600f5 { min-height:400px;  }
		#button_38b3bd4a { width:212px; height:80px;  }
		#container_4d10e638 { display:inline-block;  }
		#html_628f127b { display:inline-block;  }
		#container_5bd5f3a7 { display:none;  }
		#html_14bc39df { display:none;  }
}
@media only screen and (max-width: 400px)
{
		#container_26814feb { width:100%; min-height:140px;  }
		#container_7dca7163 { width:100%;  }
		#container_7dca7163 * span { font-size:8pt;  }
		#button_38b3bd4a { width:112px; height:60px;  }
}
