a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_cebb758 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_cebb758:hover { border-color:#000000;  }
#button_cebb758:hover span { color:#FFFFFF; }
#button_50de1384 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_50de1384:hover { border-color:#000000;  }
#button_50de1384:hover span { color:#FFFFFF; }
#button_2dd6a410 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_2dd6a410:hover { border-color:#000000;  }
#button_2dd6a410:hover span { color:#FFFFFF; }
#button_7726dcfa { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:65px; height:34px; background:none; border: 2px solid #092850;  }
#button_7726dcfa:hover { border-color:#000000;  }
#button_7726dcfa:hover span { color:#FFFFFF; }
#button_7ea92edb { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:312px; height:80px; background-color:#FFFFFF; border: 2px solid #595959;  }
#button_7ea92edb:hover { background-color:#A9A9BC; border-color:#000000;  }
#button_7ea92edb:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_62dbaabc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:188px; background-color:#000000;  }
#container_62dbaabc_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_4d362adb { vertical-align: bottom; position:relative; display: inline-block; width:41%; background:none; height:auto;  }
.textstyle3 { text-align:right; }
#container_671458e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:54px; background:none;  }
#container_671458e_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_58b21c8d { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1053px; background-color:#2D2D2D; border: 1px dotted #404040;  }
#container_58b21c8d_padding { margin: 10px; display: block;  }
#container_77cd5d68 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:588px; background:none;  }
#container_77cd5d68_padding { margin: 10px; display: block;  }
#container_6ff3eabd { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:266px; background-color:#FFFFFF; background-image: url(../../rc_images/daily_life_immortal_king_season_3_trailer_premiere_date_visual_1200x675.jpg); background-position:top center; background-size:cover;  }
#container_6ff3eabd_padding { margin: 10px; display: block;  }
#container_57b3befa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:131px; background:none;  }
#container_57b3befa_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle6 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FEFFFE; font-weight:bold;  }
.textstyle7 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_1fc05947 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_1fc05947_padding { margin: 10px; display: block;  }
#html_7a9542b1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:58px; background:none; border: 0px solid #A0A0A0;  }
#container_d63367e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:83px; background-color:#2D2D2D;  }
#container_d63367e_padding { margin: 10px; display: block;  }
#html_7e41debf { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:100px; background:none; border: 0px solid #A0A0A0;  }
#container_639e2e02 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:246px; background-color:#2A3245;  }
#container_639e2e02_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 8000px)
{
		#container_1fc05947 { display:none;  }
		#html_7a9542b1 { display:none;  }
}
@media only screen and (max-width: 640px)
{
		#button_cebb758 { width:40px; height:28px;  }
		#button_cebb758 * span { font-size:8pt;  }
		#button_50de1384 { width:40px; height:28px;  }
		#button_50de1384 * span { font-size:8pt;  }
		#button_2dd6a410 { width:40px; height:28px;  }
		#button_2dd6a410 * span { font-size:8pt;  }
		#button_7726dcfa { width:40px; height:28px;  }
		#button_7726dcfa * span { font-size:8pt;  }
		#container_77cd5d68 { min-height:400px;  }
		#button_7ea92edb { width:212px; height:80px;  }
		#container_1fc05947 { display:inline-block;  }
		#html_7a9542b1 { display:inline-block;  }
		#container_d63367e { display:none;  }
		#html_7e41debf { display:none;  }
		#container_639e2e02 * span { font-size:8pt;  }
}
@media only screen and (max-width: 400px)
{
		#container_62dbaabc { width:100%; height:100px; min-height:100px;  }
		#container_6ff3eabd { width:100%; min-height:140px;  }
		#container_57b3befa { width:100%;  }
		#container_57b3befa * span { font-size:8pt;  }
		#button_7ea92edb { width:112px; height:60px;  }
}
